pre {
    color: rgb(142, 35, 156);
}
.code {
    padding-left: 20px;
}

.example-container {
    height: 60vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: auto;
    border-bottom: 1px solid rgb(35, 125, 228);
}
