.mat-toolbar {
    background: linear-gradient(to right, rgba(30, 42, 146, 0.493), rgba(224, 50, 224, 0.472));
    color: white;
    font-family: "Courgette", cursive;
    width: 100vw;
    right: 0px;

    margin: 0px;
}
.mat-toolbar-row {
    justify-content: left;
}

button:hover::before {
    width: 100%;
    border-bottom: 3px solid white;
}

button::before {
    content: "somecontent";
    user-select: none;
    color: transparent;
    position: absolute;
    width: 0%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    border-bottom: 3px solid white;
    transition: all ease-in-out 500ms;
}

.logo {
    flex: 1 1 auto 1;
    cursor: pointer;
    user-select: none;
    color: rgb(246, 204, 188);
    text-shadow: 0px 0px 2px black;
}
