/* You can add global styles to this file, and also import other style files */
@import "~highlight.js/styles/darcula.css";

.hljs {
    margin: 4px;
}

.hljs .hljs {
    box-shadow: none;
    margin: 0px;
    border-left: 5px solid #404040;
    transition: font-size ease-in-out 400ms;
    cursor: copy;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
